streamlit==1.35.0
streamlit-authenticator==0.2.3
streamlit-option-menu==0.3.2
transformers==4.40.1
torch
pandas==2.1.3
plotly==5.16.0
protobuf==3.20.3
sentencepiece
sqlalchemy==2.0.23
python-dotenv==1.0.0
bcrypt==4.1.1
pydantic==2.5.0
pillow==10.1.0